@font-face {
    font-family: Nexa;
    src: url(nexa/Nexa-Heavy.ttf);
}
@font-face {
    font-family: lilNexa;
    src: url(nexa/Nexa-ExtraLight.ttf);
}

*{
    padding: 0;
    user-select: none;
}

html{
    scroll-behavior: smooth;
}

body{
    
    background-color: #EEEEEE;
    overflow-x: hidden;
    margin-bottom: 30px solid orange;

}

.nav-bar{
    height: 60vh;
    width: 5vw;

    position: fixed;
    top: 20vh;
    margin-left: 2.5vw;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(224.43deg, #DBDBDB -60.8%, #EEEEEE 58.79%);

    
    box-shadow: 0px 0px 7px black;

    border-radius: 60px;

    z-index: 1;
    opacity: 0.9;




}
.ratinhocontatos{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    filter: grayscale(100%);

    transition: filter 500ms;
}
.ratinhocontatos img{
    width: 150px;
}
.ratinhocontatos:hover{
    filter: grayscale(0);
}
.a img{
    width: 70%;
    max-width: 100px;

}
.a{
    position: fixed;
    top: 20px;
    right: 10px;
    opacity: 0;

    transition: all 0.5s ease-in-out;
}
.ratinhocontatos:hover .a{
    opacity: 1;
    padding: 30px;
    transform: translateX(-100px);

}

.borda{
    width: 40px;
    height: 40px;
    display: flex;

    justify-content: center;


    background-color: white;
    border-radius: 30px;
}
.borda:hover{
    padding: 0.2vw;
    
}

.imagens-nav{
    margin-left: -1px;
    height: 25px;
    width: 25px;
    margin-top: 0.6vh;

}

.firstlayer{
    display: flex;
    flex-flow: wrap;
    margin-top: 20vh;
    margin-left: 200px;


    
    

}
.texts1{
    
    height: 500px;
    width: 700px;

   


}

.texts1 h1{
    font-weight: 900;
    font-size: 4.688vw;
    max-width: 30vw;
    line-height: 100px;
    font-family: 'Nexa';



}

.texts1 p{
    font-size: 1.3vw;
    width: 420px;
    font-family: 'lilNexa';
    margin-top: 30px;
    
}
#ratinhozinho{
    z-index: 1;
    position: relative;
    bottom: 1.2vw;
    left: 4vw;
}

.mywork{
    margin-top: -5vh;
    cursor: pointer;
    position: absolute;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 30px;
    text-align: center;

    background-color: red;
    font-size: 1vw;
    font-family: "Nexa";
    color: white;

    font-weight: bolder;


}

#rabo{
    position: absolute;
    top: 25.1vw;
    left: 20vw;
    width: 120vh;
    z-index: -1;
    
}

@media all and (max-width: 1550px) {
    #rabo{
        top: 35vw;
    }   
}

.demonstration-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 10px 5px 15px 1px rgba(0, 0, 0, 0.17);
    height: 33vw;
    width: 33vw;
    right: 4vw;
    border-radius: 50%;
    z-index: 1;
    margin-right: 3vw;


}

#um{
    position: absolute;
    right: 0;
    width: 25vw;
    margin-top: 320px;


}
#dois{
    position: absolute;
    top: 0px;
    right: 0;
    width: 20vw;
}

#tres{
    position: absolute;
    width: 20%;
    left: 0;

}

.democircle{
    width: 90%;

}

#seta{
    position: absolute;
    width: 2%;
    height: 2%;
    right: 50%;
    bottom: 40px;
    animation: move-down 1s ease-in-out infinite alternate;
    
}


@keyframes move-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(20px);
    }
  }

.secondlayer{
    display: flex;
    background-color: #EEEEEE;
    width: 100%;
    margin-top: 30vw;
    margin-bottom: 300px;
    margin-left: 200px;
    
    

}

.demoreel{
    width: 40vw;
    height: 25vw;
    background: linear-gradient(180deg, #F77F00 0%, rgba(247, 127, 0, 0) 0.01%, rgba(252, 191, 73, 0) 100%);
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 6vw;

}

.demoreeltext h1{
    font-weight: 200;
    font-size: 6vw;

    font-family: 'Nexa';



}

.demoreeltext p{
    font-family: 'lilNexa';
    font-weight: 100;
    font-size: 1.6vw;
    line-height: 38px;
    margin-top: -50px;
    max-width: 500px;
}

.seemore{
    text-decoration: none;
    font-stretch: wider;
    font-family: 'lilNexa';
    position: relative;
    top:25.6vw;
    left: 32.9%;

}

#quatro{
    position: absolute;
    right: 0;
    margin-top: -18.7vw;
    width: 10%;
}

#cinco{
    margin-left: -7.6px;
    position: relative;
    top: -8vw;
    width: 10%;
}

.thirdlayer{
    display: flex;

    justify-content: space-between;
    margin-left: 200px;


    margin-top: -300px;
    width: 100vw;
    height: 30vw;
    

    margin-bottom: 20vw;
    


}

.quadradoqtroca{

    height: 100%;
    width: 53vw;
    

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 0.01%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.25);
    border-radius: 65px;



}

.texts3{
    
    width: 40%;

}

.texts3 h1{
    font-size: 4.688vw;
    font-weight: 900;
    line-height: 100px;
    font-family: "Nexa";

}
.texts3 p{
    font-size: 1.5vw;
    font-family: 'lilNexa';
    width: 21vw;


}
.conversar{
    margin-top: 60px;
    cursor: pointer;
    position: absolute;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 30px;
    text-align: center;

    font-family: 'Nexa';
    color: white;

    background-color: red;
    font-size: 1vw;

    font-weight: bolder;

}



#rathole{
    position: absolute;
    right: 200px;
    bottom: 0;
    z-index: 1;
    
    
}

  #ancora2{
    position: absolute;


    left: 45vw;
    top: 107.4vh;

  }
  #ancora3{
    position: absolute;

    left: 45vw;
    top: 210.4vh;

  }

 .fourtylayer{
    position: relative;
    display: flex;
    margin-left: 200px;
    width: 100%;

 }

 .textandimage{
    position: relative;
    bottom: 50px;
    display: flex;
    margin-bottom: 20vw;

 }
 .textandimage p{
    font-size: 1.5vw;
    width: 30vw;
    font-family: 'lilNexa';
 }

 .bio h1{
    position: relative;
    left: 40vw;
    top: -10vh;
    font-size: 6vw;
    font-family: 'Nexa';


 }
 footer{
    z-index: 1;
    height: 30px;
    width: 100%;
    left: 0;
    background: linear-gradient(180deg, #F77F00 0%, #FCBF49 100%);
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.25);
 }

 #ratholeburaco{
    position: absolute;
    right: 200px;
    bottom: 20vh;
    background: linear-gradient(180deg, #F77F00 0%, rgba(247, 127, 0, 0) 0.01%, rgba(252, 191, 73, 0) 100%);
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.25);
    border-radius: 287px;
    width: 320px;
    height: 500px;
 }
 #ratholeburaco2{
    position: absolute;
    right: 20vw;
    bottom: 0;
    background: linear-gradient(180deg, #F77F00 0%, rgba(247, 127, 0, 0) 0.01%, rgba(252, 191, 73, 0) 100%);
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.25);
    border-radius: 287px;
    width: 500px;
    height: 320px;
 }